//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
#main-content{
    padding-bottom: 0;
  }



// Feedback
.govuk-body.feedback{
    padding-right: 20px;
    font-weight: bold;
    font-size: 1rem;
}
.govuk-button--feedback{  
    border: 1px solid black;
    box-shadow: 0 2px 0 #000000;
    min-width: 94px;
    margin-bottom: 0;
    font-size: 1rem;
}
.govuk-button--feedback.right{
    float: right;
}
.govuk-grid-row.feedback{
    background-color: #f3f2f1;
    border-top: 1px solid #aeb1b3;
    display: block;
    padding: 15px 0 5px 0;
    margin-top: 80px;
}
// End feedback