//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
#main-content{
    padding-bottom: 0;
  }



// Feedback
.govuk-body.feedback{
    padding-right: 20px;
    font-weight: bold;
    font-size: 1rem;
}
.govuk-button--feedback{  
    border: 1px solid black;
    box-shadow: 0 2px 0 #000000;
    min-width: 94px;
    margin-bottom: 0;
    font-size: 1rem;
}
.govuk-button--feedback.right{
    float: right;
}
.govuk-grid-row.feedback{
    background-color: #f3f2f1;
    border-top: 1px solid #aeb1b3;
    display: block;
    padding: 15px 0 5px 0;
    margin-top: 80px;
}
// End feedback


.steps {
    padding: 0;
    list-style-type: none;
    position: relative;
    margin: 0 0 0 50px;
  }
  .steps li {
    counter-increment: step-counter;
    margin-bottom: 40px;
  }
  .steps li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 80%;
    background-color: black;
    color: white;
    padding: 5px 2px;
    text-align: center;
    border-radius: 18px;
    position: absolute;
    width: 1.75em;
    left: -50px;
  }

  .example{
    margin: 2em 0;
    background-color: #f3f2f1;
    padding: 2em 2em 1em 2em;
  }