{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/running-and-managing-a-school">Running and managing a school</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/data-collection-and-censuses-for-schools">Data collection and censuses for schools</a>
    </li>
  </ol>
</div>

<!-- Page content -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Guidance</span>
        <h1 class="govuk-heading-l">Data protection: privacy notice model documents</h1>
        <p class="govuk-body-l">Suggested privacy notices for schools and local authorities to issue to staff, parents and pupils about the collection of data.
        </p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body-s govuk-!-margin-bottom-1">
      From: <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-link govuk-!-font-weight-bold">Department for Education</a>
    </p>
    <p class="govuk-body-s govuk-!-margin-bottom-1">
      Published 10 July 2013
    </p>
    <p class="govuk-body-s govuk-!-margin-bottom-9">
      Last updated 30 October 2023 — <a href="#">See all updates</a>
    </p>
    <!-- Email alerts button -->
    <button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="#0b0c0c" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
      <span style="margin: 0px 0px 0px 5px;">Get emails about this page</span>
    </button>


    <!-- main content -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="cta-block" style="padding: 19px 10px 1px 30px;margin: 0 0 2em 0;">
          <p class="govuk-body">
            <b>Applies to England</b>
          </p>
        </div>

        <h2 class="govuk-heading-m">Documents</h2>

        <!-- Document 1 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/653f8236e6c968000daa9cd2/Explanation_of_privacy_notices_2023_v1-6.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-pdf.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/653f8236e6c968000daa9cd2/Explanation_of_privacy_notices_2023_v1-6.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">Explanation of privacy notices</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">PDF, 297 KB, 26 pages</p>
          </div>
        </div>
        <!-- End Document 1 -->

        <!-- Document 2 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/653f842c80884d0013f71d18/Privacy_notice_suggested_text_for_educational_setting_pupil.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/653f842c80884d0013f71d18/Privacy_notice_suggested_text_for_educational_setting_pupil.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for pupils</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">ODT, 30.1 KB<br><br>This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" target="_blank">OpenDocument</a> format</p>
          </div>
        </div>
        <!-- End Document 2 -->

        <!-- Document 3 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/653f843ad10f35000d9a6b49/Privacy_notice_suggested_text_for_educational_setting_pupil.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/653f843ad10f35000d9a6b49/Privacy_notice_suggested_text_for_educational_setting_pupil.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for pupils</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">MS Word Document, 45.5 KB</p>
          </div>
        </div>
        <!-- End Document 3 -->
        

        <!-- Document 4 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/648c44cab32b9e000ca968cf/Privacy_notice_suggested_text_for_workforce.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/648c44cab32b9e000ca968cf/Privacy_notice_suggested_text_for_workforce.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for school workforce</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">ODT, 25.6 KB<br><br>This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" target="_blank">OpenDocument</a> format</p>
          </div>
        </div>
        <!-- End Document 4 -->


        <!-- Document 5 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/648c44e45f7bb700127fab9e/Privacy_notice_suggested_text_for_workforce.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/648c44e45f7bb700127fab9e/Privacy_notice_suggested_text_for_workforce.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for school workforce</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">MS Word Document, 43.3 KB</p>
          </div>
        </div>
        <!-- End Document 5 -->


        <!-- Document 6 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/648c43e3b32b9e000ca968cc/Privacy_notice_suggested_text_for_school_and_trust_governance_roles.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/648c43e3b32b9e000ca968cc/Privacy_notice_suggested_text_for_school_and_trust_governance_roles.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for school and trust governance roles</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">ODT, 29.1 KB<br><br>This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" target="_blank">OpenDocument</a> format</p>
          </div>
        </div>
        <!-- End Document 6 -->


        <!-- Document 7 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/648c4406b32b9e000ca968cd/Privacy_notice_suggested_text_for_school_and_trust_governance_roles.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/648c4406b32b9e000ca968cd/Privacy_notice_suggested_text_for_school_and_trust_governance_roles.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for school and trust governance roles</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">MS Word Document, 44.9 KB</p>
          </div>
        </div>
        <!-- End Document 7 -->


        <!-- Document 8 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/653f8360d10f3500139a6b2a/Privacy_notice_suggested_text_for_local_authority_pupil.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/653f8360d10f3500139a6b2a/Privacy_notice_suggested_text_for_local_authority_pupil.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested web text for a local authority</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">ODT, 30.5 KB<br><br>This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" target="_blank">OpenDocument</a> format</p>
          </div>
        </div>
        <!-- End Document 8 -->


        <!-- Document 9 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/653f837680884d0013f71d17/Privacy_notice_suggested_text_for_local_authority_pupil.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/653f837680884d0013f71d17/Privacy_notice_suggested_text_for_local_authority_pupil.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested web text for a local authority</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">MS Word Document, 48.8 KB</p>
          </div>
        </div>
        <!-- End Document 9 -->


        <!-- Document 10 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/653f838cd10f35000d9a6b48/Privacy_notice_suggested_text_for_children_in_need_children_looked_after.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/653f838cd10f35000d9a6b48/Privacy_notice_suggested_text_for_children_in_need_children_looked_after.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for looked-after children and children in need</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">ODT, 30.5 KB<br><br>This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" target="_blank">OpenDocument</a> format</p>
          </div>
        </div>
        <!-- End Document 10 -->


        <!-- Document 11 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/653f83a980884d000df71ccb/Privacy_notice_suggested_text_for_children_in_need_children_looked_after.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/653f83a980884d000df71ccb/Privacy_notice_suggested_text_for_children_in_need_children_looked_after.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: suggested text for looked-after children and children in need</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">MS Word Document, 45.1 KB</p>
          </div>
        </div>
        <!-- End Document 11 -->


        <!-- Document 12 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/6374f5038fa8f57715d83cc8/Privacy_notice_how_we_use_children_s_social_workforce_information.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/6374f5038fa8f57715d83cc8/Privacy_notice_how_we_use_children_s_social_workforce_information.odt" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: how we use children's social workforce information</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">ODT, 20.2 KB<br><br>This file is in an <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" target="_blank">OpenDocument</a> format</p>
          </div>
        </div>
        <!-- End Document 12 -->


        <!-- Document 13 -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="https://assets.publishing.service.gov.uk/media/6374f50dd3bf7f720e73515f/Privacy_notice_how_we_use_children_s_social_workforce_information.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/images/icon-doc.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="https://assets.publishing.service.gov.uk/media/6374f50dd3bf7f720e73515f/Privacy_notice_how_we_use_children_s_social_workforce_information.docx" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy notice: how we use children's social workforce information</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">MS Word Document, 36.2 KB</p>
          </div>
        </div>
        <!-- End Document 13 -->

        <h2 class="govuk-heading-m">Details</h2>
        <p class="govuk-body">
          Providing accessible information to individuals about the use of personal data is a key element of the Data Protection Act 2018 and UK General Data Protection Regulation.
          <br><br>
          The most common way to provide information is through a privacy notice.
          <br><br>
          The department provides suggested wording that schools and local authorities may wish to use. You must review and amend to reflect local needs and circumstances, as you will process data that is not solely for use within data collections.
          <br><br>
          You can issue privacy notices in a number of ways, for example on your website, or within:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>induction packs</li>
          <li>staff contracts</li>
          <li>information about social services</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-body-s govuk-!-margin-bottom-1 govuk-!-margin-top-1">
          Published 10 July 2013
        </p>
        <p class="govuk-body-s govuk-!-margin-bottom-9">
          Last updated 30 October 2023 <a href="#">+ show all updates</a>
        </p>


        <div style="display: flex;">
        <!-- Email alerts button -->
        <button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="#0b0c0c" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
          <span style="margin: 0px 0px 0px 5px;">Get emails about this page</span>
        </button>

        <!-- Print button -->
        <button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px;margin-left:20px" data-module="govuk-button">
          <img src="/public/images/icon-print.png" style="width:16px;">
          <span style="margin: 0px 0px 0px 10px;">Print this page</span>
        </button>
       </div>



        <h3 class="govuk-heading-s" style="border-top: 2px solid #1f70b8; padding-top: 12px;">Explore the topic</h3>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state  govuk-!-font-weight-bold">Data collection and censuses for schoolsl</a>
        </p>

      </div>

      <!-- Related content nav bar -->
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s" style="border-top: 2px solid #1f70b8; padding-top: 12px;">Related content</h3>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Children's social work workforce census: guide to submitting data</a>
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Children's social work workforce census: technical specification</a>
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state">School workforce census: guide to submitting data</a>
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state">COLLECT guides for schools and local authorities</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body-s">
          Collection
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state  govuk-!-font-weight-bold">Local-authority-maintained schools: governance</a>
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state  govuk-!-font-weight-bold">Academy trusts: governance</a>
        </p>
      </div>
    </div>
  </main>
</div>



{% endblock %}

