{% extends "layouts/main.html" %}

{% block pageTitle %}
Ways an individual can submit a SAR - Subject access requests (SARs) in the education sector – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      Subject access requests (SARs) in the education sector
    </h1>
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-6">Updated 22nd November 2023</p>

    <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
      <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
        <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
          Contents
        </h2>
        <ol class="govuk-prototype-kit-common-templates-contents-list__list">

          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="overview">
            Overview
            </a>
          </li>

          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="receiving-a-sar">
                Receiving a SAR
          </li>

          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="check-identity">
              When to check the identity of someone submitting a SAR
            </a>
          </li>

          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="requests-from-children">
              Responding to a request from a child 
            </a>
          </li>
          
          <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              Ways an individual can submit a SAR
          </li>

          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="dealing-with-a-sar">
              Dealing with a SAR
            </a>
          </li>

          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="refusing-a-sar">
              Refusing to comply with a SAR
            </a>
          </li>

          <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
            <a href="recording-a-sar">
              Recording the SAR process
            </a>
          </li>

      </ol>
      </nav>
    </aside>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
    
    <h2 class="govuk-heading-l" id="ways-an-individual-can-submit-a-sar">
      Ways an individual can submit a SAR
    </h2>
    <!-- <h3 id="who-can-make-a-sar">Who can make a SAR and what to do if you receive one</h3> -->
    <p>A requester can submit a SAR:</p>
    <ul>
      <li>in writing, such as an email, letter, or via social media</li>
      <li>verbally, such as over the phone or face-to-face</li>
    </ul>
    <p>It is the responsibility of the organisation to treat a request for information as a SAR.</p>
    <p>The person requesting information does not need to refer to the process as a SAR. </p>
    <p>For example, a parent could ask for a copy of an incident report, regarding their child, during a phone call with a school. As the parent has asked for personal data, the school should treat this request as a SAR, in the first instance.</p>
    <p>You should not ask the requester to make a SAR in a different way once they have made their request. </p>
    <p>You can create a preferred request method, such as a standard form, but should not insist a requester makes a SAR in a particular way.</p>

    <h3 id="examples-of-sars-in-different-formats">Examples of SARs in different formats</h3>
    <p>Example 1</p>
    <div class="govuk-inset-text">
      <p>A student makes a verbal request for their previous teacher’s reports during class. The teacher can ask the student to email their request, so the teacher does not miss any information out. The student has the right to say no or not to respond. The teacher must still respond within 1 calendar month from the day of the verbal request. </p>
    </div>
    <p>Example 2</p>
    <div class="govuk-inset-text">
      <p>A parent collects their 8-year-old from school. Whilst waiting for their child, the parent tells a teaching assistant that they wish to see copies of their child’s personal information relating to the school’s handling of an incident that recently occurred on school premises involving their child. </p>
    </div>
    <p>Usually, the school encourages parents to make a SAR by using a request form on the school website. The teaching assistant asks the parent if they can complete the request form. The parent insists they want to make the request verbally. </p> 
    <p>The teaching assistant writes down contact details for the parent, details of the child and an overview of the verbal request. The teaching assistant checks that the parent is happy for future correspondence to be made in writing and immediately passes the request to the headteacher, who is the school’s Data Protection Officer (DPO). The headteacher knows the parent and child well and decides not to request ID. The headteacher sends the parent a letter to acknowledge the SAR and to clarify the request.</p> 

{{ govukPagination({
  previous: {
    labelText: "Responding to a request from a child",
    href: "requests-from-children"
  },
  next: {
    labelText: "Dealing with a SAR",
    href: "dealing-with-a-sar"
  }
}) }}

    <p>
      <a href="#">
        View a printable version of the whole guide
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third sticky">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Jump to a section
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#ways-an-individual-can-submit-a-sar">
              Ways an individual can submit a SAR
            </a>
          </li>
          <li>
            <a href="#examples-of-sars-in-different-formats">
              Examples of SARs in different formats
            </a>
          </li>
          <li>
            <a href="#">
              &uarr; Back to the top
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

</main>
</div>

{% endblock %}
