{% extends "layouts/main.html" %}

{% block pageTitle %}
   – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/path/of/next/page" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Are you familiar with the term Subject Access Request?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "When an individual makes a request for the information that you possess about them, it is referred to as a Subject Access Request (SAR)."
  },
  items: [
    {
      value: "england",
      text: "Yes"
    },
    {
      value: "abroad",
      text: "No, I would like to read more about them"
    }
  ]
}) }}
{{ govukButton({
  text: "Continue"
}) }}


      </form>

    </div>
  </div>

{% endblock %}
