{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/running-and-managing-a-school">Running and managing a school</a>
    </li>
  </ol>
</div>

<!-- Page content -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Promotional material</span>
        <h1 class="govuk-heading-l">Data protection and generative artificial intelligence (AI) in education settings</h1>
        <p class="govuk-body-l">Promotional materials outling the risks of putting personal information into AI tools.
        </p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body-s govuk-!-margin-bottom-1">
      From: <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-link govuk-!-font-weight-bold">Department for Education</a>
    </p>
    <p class="govuk-body-s govuk-!-margin-bottom-9">
      Published 01 January 2024
    </p>
    <!-- Email alerts button -->
    <button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="#0b0c0c" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
      <span style="margin: 0px 0px 0px 5px;">Get emails about this page</span>
    </button>


    <!-- main content -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Documents</h2>

        <!-- Poster -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="../public/downloads/Don't%20put%20personal%20information%20into%20AI%20tools%20poster.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/downloads/Don't%20put%20personal%20information%20into%20AI%20tools%20poster%20thumbnail.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="../public/downloads/Don't%20put%20personal%20information%20into%20AI%20tools%20poster.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">Don't put personal information into AI tools A4 poster</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">PDF, 1.4 MB, 1 page</p>
          </div>
        </div>
        <!-- End poster -->

        <!-- Poster -->
        <div style="display: flex;padding-bottom:40px;">
          <div>
            <a href="../public/downloads/Don't%20put%20personal%20information%20into%20AI%20tools%20poster%20-%20low%20ink%20version.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">
              <img src="../public/downloads/Don't%20put%20personal%20information%20into%20AI%20tools%20poster%20-%20low%20ink%20version%20thumbnail.png" style="height: 140px;width: auto; border: 5px solid #e6e6e6;">
            </a>
          </div>
          <div style="margin-left:20px;">
            <p class="govuk-body govuk-!-font-size-27">
              <a href="../public/downloads/Don't%20put%20personal%20information%20into%20AI%20tools%20poster%20-%20low%20ink%20version.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">Don't put personal information into AI tools A4 poster - low ink version</a>
            </p>
            <p class="govuk-body" style="color:#505a5f;">PDF, 1.4 MB, 1 page</p>
          </div>
        </div>
        <!-- End poster -->


        <h2 class="govuk-heading-m">Details</h2>
        <p class="govuk-body">These posters serve as visual cues for staff, reminding them not to enter personal information into AI tools and help safeguard personal data.</p>


        <p class="govuk-body-s govuk-!-margin-bottom-9">
          <br>Published 14 May 2024
        </p>


        <div style="display: flex;">
        <!-- Email alerts button -->
        <button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="#0b0c0c" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
          <span style="margin: 0px 0px 0px 5px;">Get emails about this page</span>
        </button>

        <!-- Print button -->
        <button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px;margin-left:20px" data-module="govuk-button">
          <img src="/public/images/icon-print.png" style="width:16px;">
          <span style="margin: 0px 0px 0px 10px;">Print this page</span>
        </button>
       </div>



        <h3 class="govuk-heading-s" style="border-top: 2px solid #1f70b8; padding-top: 12px;">Explore the topic</h3>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state  govuk-!-font-weight-bold">Running and managing a school</a>
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state  govuk-!-font-weight-bold">Education, training and skills</a>
        </p>

      </div>

      <!-- Related content nav bar -->
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s" style="border-top: 2px solid #1f70b8; padding-top: 12px;">Related content</h3>
        <p class="govuk-body-s">
          <a href="../" class="govuk-link govuk-link--no-visited-state">Data protection in schools</a>
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Running and managing a school</a>
        </p>
        <p class="govuk-body-s">
          <a href="#" class="govuk-link govuk-link--no-visited-state">Education, training and skills</a>
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body-s">
          Collection
        </p>
        <p class="govuk-body-s">
          <a href="../" class="govuk-link govuk-link--no-visited-state  govuk-!-font-weight-bold">Get help with data protection in schools</a>
        </p>
      </div>
    </div>
  </main>
</div>



{% endblock %}

