{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Artificial intelligence (AI) and data protection in schools
{% endblock %}

{% block content %}



<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/running-and-managing-a-school">Running and managing a school</a>
    </li>
  </ol>
</div>

<!-- Blue header with search -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main" style="background-color: #1d70b8;padding:30px 10px;">
    <div class="govuk-grid-row" style="margin: 0;">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color: #ffffff;padding-bottom: 18px;">{{ serviceName }}</h1>
        <p class="govuk-body" style="color: #ffffff;font-size: 1rem;line-height: 1.6;">
          From: <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">Department for Education</a>
          <br>Published 3 February 2023
          <br>Updated: {{lastUpdated}} - <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">See all updates</a>
        </p>
        <p class="govuk-body" style="color: #ffffff;">
        </p>

        <div class="govuk-form-group govuk-!-static-margin-top-8">
          <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text" placeholder="Search this manual" style="margin: 0;border: 0;position: relative;z-index: 1;">
          <button type="submit" class="govuk-button" data-module="govuk-button" style="background-color: #000000;margin: 0;margin-left: -5px;">
            <svg class="gem-c-search__icon" width="16" height="16" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </main>
</div>

<!-- Contents -->
<p class="govuk-body  govuk-!-static-margin-top-4  govuk-!-static-margin-bottom-4" style="font-size: 1rem;"><a href="../" class="govuk-back-link">Back to contents</a></p>

<!-- Content -->
<main class="govuk-main-wrapper govuk-!-static-padding-top-0 ">
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l" style="margin-left: 15px;">Data protection and generative artificial intelligence (AI) in education settings</h1>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">The benefits and potential data protection risks of using generative AI in educational settings.</p>

      <p class="govuk-body">
        This guidance is for people working in an education setting who use generative AI. 
        <br><br>
        Due to the rapid changes in generative AI tools and technology, this page will be updated regularly.
        <br><br>
        Generative AI refers to any type of artificial intelligence that creates new digital content. Unlike traditional AI, which relies on exact programming to complete specific tasks, generative AI uses machine learning to create new digital content.
        <br><br>
        Generative AI can produce new text, images, videos, or other data, in response to what people type in. 
        <br><br>
        If you work in an education setting and are thinking of using generative AI:
      </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>check whether your school has an AI policy, it may be covered in the safeguarding, online safety or data protection policy</li>
          <li>if your school does not have a policy, speak to your data protection officer and IT lead</li>
        </ul>
        <p class="govuk-body">
          When used appropriately, generative AI has the potential to reduce workload across the education sector.
          <br><br>
          The Department for Education (DfE) encourages the education sector to consider the opportunities generative AI provides. To do this safely, you should be aware of the limitations of this technology. You can find out more about the department's position on the use of generative AI in the policy paper <a href="https://www.gov.uk/government/publications/generative-artificial-intelligence-in-education/generative-artificial-intelligence-ai-in-education" target="_blank">Generative artificial intelligence (AI) in education</a>.
          <br><br>
          In an education setting, generative AI tools can be used as a starting point to develop resources, including: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>lesson plans or activities</li>
          <li>questions and quizzes</li>
          <li>revision activities</li>
          <li>images to help with character descriptions or stories</li>
          <li>communications for parents and carers</li>
          <li>creating timetables</li>
        </ul>

        <p class="govuk-body">
          The above is not a complete list of what generative AI tools can be used for in schools. Check with your data protection officer or IT lead for further guidance on what may be acceptable use for your school. 
        </p>

           <!-- Example block -->
           <div class="example-block">
            <h3 class="govuk-heading-s">Example</h3>
            <p class="govuk-body">
              A KS1 teacher wants to teach their class about the Great Fire of London through an interactive lesson. The teacher uses an AI tool to develop a lesson plan where the class play villagers, fire fighters and King Charles II and his advisors. The teacher does not put any personal data into the AI tool and fact-checks the information against a reliable source.
            </p>
          </div>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
        <!-- Data protection and AI tools in education -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Data protection and AI tools in education
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Education settings should be open and transparent about how they use generative AI tools. Staff, students, governors, and parents and carers should understand how their personal data is processed.
              <br><br>
              <a href="https://www.gov.uk/government/publications/ofsteds-approach-to-ai/ofsteds-approach-to-artificial-intelligence-ai#providers-use-of-ai" target="_blank">Ofsted have published guidance</a> on the ways it expects providers to comply with the <a href="https://www.gov.uk/government/publications/ai-regulation-a-pro-innovation-approach" target="_blank">AI regulation white paper</a> published by the Department for Science, Innovation and Technology (DSIT) and the Office for Artificial Intelligence.
              <br><br>
              The Joint Council for Qualifications (JCQ) released <a href="https://www.jcq.org.uk/exams-office/malpractice/artificial-intelligence/" target="_blank">the AI Use in Assessments guidance</a>. This guidance sets out best practice for students and teachers, to help them understand their responsibilities where AI tools are being used as part of qualification assessments.
            </p>
            </div>
        </div>

        <!-- Personal data risks of using generative AI -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Personal data risks of using generative AI
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Generative AI tools can offer significant benefits in education, but they come with certain risks related to data protection. Understanding the differences between open and closed AI tools is crucial for using them safely.
            </p>

            <h3 class="govuk-heading-s">Open and closed generative AI and the impact on data protection</h3>
            <p class="govuk-body">
              There are important differences between open and closed generative AI tools in terms of data protection.
              <br><br>
              Open generative AI tools are accessible and modifiable by anyone. They may store, share, or learn from the information entered into them, including personal or sensitive information. Therefore, avoid including any identifiable information in the data you enter into open AI tools to protect <a href="https://www.gov.uk/guidance/data-protection-in-schools/what-data-protection-means-for-schools#personal-data" target="_blank">personal and special category data</a>.
              <br><br>
              Closed generative AI tools are generally more secure as external parties cannot access the data you input. This makes them a safer option for handling personal or special category data.
              <br><br>
              It's not always obvious whether a generative AI tool is open or closed. Check with your school's data protection officer or IT lead to find out more about the generative AI tools available at your school.
              <br><br>
              If your school has a closed generative AI tool and you choose to put personal or special category data into it, you must include how you use this data in your setting's privacy notice.
            </p>

            <h3 class="govuk-heading-s">Ensure compliance with data protection legislation</h3>
            <p class="govuk-body">
              The generative AI tools you use must comply with <a href="https://www.gov.uk/guidance/data-protection-in-schools/what-data-protection-means-for-schools" target="_blank">data protection legislation</a> and your setting's data protection notice.
              <br><br>
              To use generative AI tools safely:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>check your school's policies before using a generative AI tool</li>
              <li>check whether you are using an open or closed generative AI tool</li>
              <li>ensure there is no identifiable information included in what you enter into the tool</li>
              <li>acknowledge or reference the use of generative AI in your work</li>
              <li>use generative AI tools as a starting point for developing ideas or work</li>
              <li>fact check results to make sure the information is accurate</li>
            </ul>


            <!-- Example block -->
            <div class="example-block">
              <h3 class="govuk-heading-s">Example</h3>
              <p class="govuk-body">
                A school administrator wants to email a parent about their child's behaviour. They are unsure how to word the email. The administrator enters notes into an open generative AI tool and asks the tool to create the email for them. <br><br>
                The notes include the pupil's name, class and details of a behavioural incident. When the administrator submits the information, they release the pupil's personal data to the generative AI tool. The tool may incorporate this data in future responses, making it available to other people. The data will also be retained and visible to the organisation that owns the tool. The organisation that owns the tool may keep the data and be able to view it.
              </p>
            </div>


            <h3 class="govuk-heading-s">Keeping pupils' data safe when using generative AI</h3>
            <p class="govuk-body">
              If you choose to enter pupils' personal data into an AI tool, ensure to check with your data protection officer or IT lead, that it is safe to do so. Observing <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/data-protection-principles/a-guide-to-the-data-protection-principles/" target="_blank">data protection principles</a> while handling personal data in AI tools will help your compliance with data protection legislation.
              <br><br>
              The ICO has information on what to do if you want to <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/childrens-information/children-and-the-uk-gdpr/what-if-we-want-to-profile-children-or-make-automated-decisions-about-them/" target="_blank">use generated AI to profile children or make automated decisions about them</a>.
            </p>

          </div>
        </div>


        <!-- Personal data collected by generative AI tools -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Personal data collected by generative AI tools
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Some generative AI tools process and store more information than just the text you enter into them. 
              <br><br>
              Generative AI tools may collect and store additional data such as location, IP address, system information, and browser information. 
              <br><br>
              The data collected by these organisations can be viewed or sold to third parties. Schools must include how any data is collected, processed and stored by generative AI tools in the school's privacy notice.
              
          </div>
        </div>


            <!-- Intellectual property and copyright risks of using generative AI tools -->
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Intellectual property and copyright risks of using generative AI tools
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content">
                <p class="govuk-body">
                  <a href="https://www.gov.uk/intellectual-property-an-overview" target="_blank">Intellectual property</a> is something that a person creates using their mind. In a school, this could be an essay or poem written by a student, or a lesson plan or assessment created by a teacher.
                  <br><br>
                  Most generative AI tools will use the information that people put into them to further train the tool. Pupils and teachers own the intellectual property (IP) rights to original content they create. In some schools, any work that teachers produce is the intellectual property of the school.
                  <br><br>
                  Schools should not allow original work by staff or pupils to be entered into general AI tools, unless they have appropriate consent or exemption to copyright. 
                  <br><br>
                  You can find out more about intellectual property and generative AI in the <a href="https://www.gov.uk/government/publications/generative-artificial-intelligence-in-education/generative-artificial-intelligence-ai-in-education#protecting-data-pupils-and-staff" target="_blank">Generative artificial intelligence (AI) in education policy paper</a>.
                  </p>
                  
                   <!-- Example block -->
                  <div class="example-block">
                    <h3 class="govuk-heading-s">Example</h3>
                    <p class="govuk-body">
                      A secondary school teacher wants to summarise a pupil's coursework. The teacher decides to upload the coursework to a generative AI tool to help summarise it. To make sure that they adhere to data protection, the teacher removes any identifiers from the coursework.<br><br>
                      The teacher checks the generative AI tool's terms and conditions. They notice that the intellectual property of anything uploaded to the tool will belong to the organisation that owns the tool. The teacher checks with their data protection officer and decides not to upload the coursework to this tool.
                    </p>
                  </div>

              </div>
            </div>
      
        <!-- Downloadable resources -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                Downloadable resources and training materials
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-5" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Downloadable and printable posters can be accessed from the <a href="./promotional-material/data-protection-and-generative-ai-in-education-settings" target="_blank">Data protection and generative AI in education settings promotional materials page</a>. These posters serve as visual reminders for staff not to input personal information into AI tools. 
              </p>

              <p class="govuk-body">This training video is designed to help teaching professionals understand the appropriate use of AI in schools, with a specific focus on data protection and safety, ensuring the safeguarding of both student information and overall school data integrity.</p>
              <video width="640" height="360" controls>
                <source src="../public/downloads/AI/AI_training_video.mp4" type="video/mp4">
               Your browser does not support videos in the prototype.
              </video>

          </div>
        </div>


        <!-- End Accordian -->
      </div> 
  </div>
</main>


<!-- Print button -->
<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
  <img src="/public/images/icon-print.png" style="width:16px;">
  <span style="margin: 0px 0px 0px 10px;">Print this page</span>
</button>






{% endblock %}
