{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Artificial intelligence (AI) and data protection in schools
{% endblock %}

{% block content %}



<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/running-and-managing-a-school">Running and managing a school</a>
    </li>
  </ol>
</div>

<!-- Blue header with search -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main" style="background-color: #1d70b8;padding:30px 10px;">
    <div class="govuk-grid-row" style="margin: 0;">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color: #ffffff;padding-bottom: 18px;">{{ serviceName }}</h1>
        <p class="govuk-body" style="color: #ffffff;font-size: 1rem;line-height: 1.6;">
          From: <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">Department for Education</a>
          <br>Published 3 February 2023
          <br>Updated: 3 April 2024 - <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">See all updates</a>
        </p>
        <p class="govuk-body" style="color: #ffffff;">
        </p>

        <div class="govuk-form-group govuk-!-static-margin-top-8">
          <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text" placeholder="Search this manual" style="margin: 0;border: 0;position: relative;z-index: 1;">
          <button type="submit" class="govuk-button" data-module="govuk-button" style="background-color: #000000;margin: 0;margin-left: -5px;">
            <svg class="gem-c-search__icon" width="16" height="16" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </main>
</div>

<!-- Contents -->
<p class="govuk-body  govuk-!-static-margin-top-3  govuk-!-static-margin-bottom-3" style="font-size: 1rem;"><a href="../" style="color: black;">Contents</a></p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-6 ">

<!-- Content -->
<main class="govuk-main-wrapper govuk-!-static-padding-top-0 ">
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l" style="margin-left: 15px;">Artificial intelligence (AI) and data protection in schools</h1>
    <div class="govuk-grid-column-two-thirds">
      
      <p class="govuk-body-l">The benefits and risks of using generative AI in educational settings.

      </p>
      <p class="govuk-body">
        This guidance is for people working in an education setting who use generative AI.
        <br><br>
        Generative AI refers to any type of artificial intelligence that creates new digital content. 
        <br><br>
        Generative AI can produce text, images, videos, or other data, using generative models, often in response to user prompts. 
        <br><br>
        In an education setting, generative AI tools can be used to generate or develop: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>lesson plans or activities</li>
          <li>feedback and revision activities</li>
          <li>questions based on lesson plans</li>
          <li>communications for parents and carers</li>
          <li>policy documents</li>
        </ul>
        <p class="govuk-body">
          When used appropriately, generative AI has the potential to: 
        </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>reduce workload across the education sector </li>
            <li>save teachers' time, allowing them to focus on delivering teaching</li>
          </ul>
          <p class="govuk-body">
            The Department for Education (DfE) encourages the education sector to make the most of the opportunities generative AI provides. To do this safely, you should be aware of the limitations of this technology [link to policy paper].
          </p>

           <!-- Example block -->
           <div class="example-block">
            <h3 class="govuk-heading-s">Example</h3>
            <p class="govuk-body">
              A KS1 teacher wants to teach their class about the Great Fire of London through an interactive lesson.<br><br>
              The teacher uses an AI tool to create a lesson plan where the class play villagers, fire fighters and King Charles II and his advisors.<br><br>
              The teacher does not put any personal data into the AI tool and fact-checks the results against a reliable source.
            </p>
          </div>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
        <!-- Data protection and AI tools in education -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Data protection and AI tools in education
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Education settings should be open and transparent about how they use generative AI tools. Staff, students, and parents and carers should understand how their personal data is being processed.
              <br><br>
              DfE recommends reviewing your school's privacy policy to make sure use of generative AI tools is included.
            </p>
            </div>
          
        </div>

        <!-- Personal data risks of using generative AI -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Personal data risks of using generative AI
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Generative AI tools are not search engines. The data you input is typically collected and stored to help train the AI tool. While using AI tools, make sure the data you input is unidentifiable to <a href="https://www.gov.uk/guidance/data-protection-in-schools/what-data-protection-means-for-schools#special-category-data" target="_blank">protect personal and special category data</a>. The AI tools you use must comply with data protection legislation and your setting's data privacy policies.
              <br><br>
              Some education settings may use a closed AI tool, meaning any data you input is secure and cannot be accessed by anyone outside of the setting. If you choose to use personal or special category data in closed AI tools, you must include how you use this data in your setting's privacy policy. Check with your setting's data protection officer if you are unsure.
            </p>
            
          </div>
        </div>


        <!-- Personal data collected by generative AI tools -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Personal data collected by generative AI tools
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Some AI tools process and store more information than just the prompt you submit. AI tools may collect and store additional data such as location, IP address, system information, and browser information. The data collected by these organisations can be viewed or sold to third parties. Your education setting's privacy policy must include how any data is collected, processed or stored by AI tools,
              <br><br>
              To help make sure you use generative AI tools safely: 
              <br><br>
              <b>Do</b>
              </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>check your school's policies before using an AI tool</li>
              <li>ensure there is no identifiable information included in your prompts</li>
              <li>acknowledge or reference the use of AI in your work</li>
              <li>double check the results to ensure data accuracy </li>
            </ul>
            <p class="govuk-body">
              <b>Do not</b>
              </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>trust the information is accurate</li>
              <li>use it as a replacement for other tools</li>
              <li>use it to write your work for you</li>
              <li>use AI as a search engine</li>
            </ul>

          <!-- Example block -->
          <div class="example-block">
            <h3 class="govuk-heading-s">Example</h3>
            <p class="govuk-body">
              A teacher wants to write an end of year report for one of their students.<br><br>
              They decide to use a generative AI tool to help them write it.<br><br>
              The teacher checks with the data protection officer and reads the school's AI policy.<br><br>
              The teacher uses an AI tool to create a template for their report.<br><br>
              They do not put the student's personal information into the AI tool. 
            </p>
          </div>


          <div class="example-block">
            <h3 class="govuk-heading-s">Example</h3>
            <p class="govuk-body">
              A secondary school teacher wants to upload a student's coursework to a generative AI tool to help summarise it.<br><br>
              To make sure that they are keeping in line with data protection, they remove any identifiers from the report.<br><br>
              The teacher checks the AI tool's terms and conditions and notices that the intellectual property of anything that is uploaded will belong to the AI tool.<br><br>
              The teacher checks with their data protection officer and decides not to upload the coursework to this tool.
            </p>
          </div>


          </div>
        </div>

      


        <!-- End Accordian -->
      </div> 
  </div>
</main>


<!-- Print button -->
<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
  <img src="/public/images/icon-print.png" style="width:16px;">
  <span style="margin: 0px 0px 0px 10px;">Print this page</span>
</button>






{% endblock %}
