{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Generative artificial intelligence (AI) and data protection in schools
{% endblock %}

{% block content %}



<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/running-and-managing-a-school">Running and managing a school</a>
    </li>
  </ol>
</div>

<!-- Blue header with search -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main" style="background-color: #1d70b8;padding:30px 10px;">
    <div class="govuk-grid-row" style="margin: 0;">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color: #ffffff;padding-bottom: 18px;">{{ serviceName }}</h1>
        <p class="govuk-body" style="color: #ffffff;font-size: 1rem;line-height: 1.6;">
          From: <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">Department for Education</a>
          <br>Published 3 February 2023
          <br>Updated: {{lastUpdated}} - <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">See all updates</a>
        </p>
        <p class="govuk-body" style="color: #ffffff;">
        </p>

        <div class="govuk-form-group govuk-!-static-margin-top-8">
          <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text" placeholder="Search this manual" style="margin: 0;border: 0;position: relative;z-index: 1;">
          <button type="submit" class="govuk-button" data-module="govuk-button" style="background-color: #000000;margin: 0;margin-left: -5px;">
            <svg class="gem-c-search__icon" width="16" height="16" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </main>
</div>

<!-- Contents -->
<p class="govuk-body  govuk-!-static-margin-top-4  govuk-!-static-margin-bottom-2" style="font-size: 1rem;"><a href="../" class="govuk-breadcrumbs__link">Back to contents</a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-!-static-margin-top-0 govuk-section-break--visible">

<!-- Content -->
<main class="govuk-main-wrapper govuk-!-static-padding-top-0 ">
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l" style="margin-left: 15px;">Generative artificial intelligence (AI) and data protection in schools</h1>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">How to address potential data protection risks of using generative AI in schools.</p>

      <p class="govuk-body">
        Generative AI refers to any type of artificial intelligence that creates new digital content, such as text, images, videos or other data. Unlike traditional AI, which relies on exact programming to complete specific tasks, generative AI uses machine learning to create new digital content.
        <br><br>
        This guidance is to help schools understand:
      </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how to protect personal data when using generative AI</li>
          <li>data protection legislation in relation to generative AI</li>
          <li>the risks and biases of AI to personal data</li>
        </ul>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Hs6gmNoMhqM?si=qFUk7qFlJ7E9xZGj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <p class="govuk-body">
          <br>In a school, generative AI tools can be used as a starting point to develop resources, including: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>lesson plans or activities</li>
          <li>questions and quizzes</li>
          <li>revision activities</li>
          <li>images to help with character descriptions or stories</li>
          <li>communications for parents and carers</li>
          <li>creating timetables</li>
        </ul>

        <p class="govuk-body">
          Check with your data protection officer or IT lead for further guidance on what may be acceptable use for your school.
        </p>

           <!-- Example block -->
           <div class="example-block">
            <h3 class="govuk-heading-s">Example</h3>
            <p class="govuk-body">
              A KS1 teacher wants to teach their class about the Great Fire of London through an interactive lesson. The teacher uses an AI tool to develop a lesson plan where the class play villagers, fire fighters and King Charles II and his advisors. The teacher does not put any personal data into the AI tool and fact-checks the information against a reliable source.
            </p>
          </div>


          <!-- CTA block -->
          <div class="cta-block">
            <p class="govuk-body">
              Use our posters to remind staff at your school about the important aspects of data protection, including the use of <a href="#" target="_blank">generative AI</a>.
            </p>
          </div>


      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        
        <!-- Data protection and AI tools in education -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Data protection and AI tools in education
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">
              Generative AI tools could offer significant benefits in education, but they come with certain risks related to data protection.
              <br><br>
              Schools should be open and transparent about how they use generative AI tools. Staff, students, governors, parents and carers should understand how their personal data is processed.
              <br><br>
              <a href="https://www.gov.uk/government/publications/ofsteds-approach-to-ai/ofsteds-approach-to-artificial-intelligence-ai#providers-use-of-ai" target="_blank">Ofsted have published guidance</a> on the ways it expects providers to use AI.
              <br><br>
              The Joint Council for Qualifications (JCQ) guidance on <a href="https://www.jcq.org.uk/exams-office/malpractice/artificial-intelligence/" target="_blank">AI use in assessments</a> sets out best practice for students and teachers, to help them understand their responsibilities where AI tools are being used as part of qualification assessments.
            </p>
            </div>
        </div>

        <!-- Open and closed generative AI -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Open and closed generative AI
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">
              There are important differences between open and closed generative AI tools in terms of data protection.
              <br><br>
              Open generative AI tools are accessible and modifiable by anyone. They may store, share, or learn from the information entered into them, including personal or sensitive information. You should avoid including any identifiable information in the data you enter into open AI tools, to protect <a href="https://www.gov.uk/guidance/data-protection-in-schools/what-data-protection-means-for-schools#personal-data" target="_blank">personal and special category data</a>.
              <br><br>
              Closed generative AI tools are generally more secure, as external parties cannot access the data you input. This makes them a safer option for handling personal or special category data.
              <br><br>
              It's not always obvious whether a generative AI tool is open or closed. Check with your school's data protection officer or IT lead to find out more about the generative AI tools available at your school.
              <br><br>
              If your school has a closed generative AI tool and you choose to put personal or special category data into it, you must include how you use this data in your school's privacy notice.  
            </p>

          </div>
        </div>


        <!-- Compliance with data protection legislation -->
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Compliance with data protection legislation
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">
              The generative AI tools you use must comply with data protection legislation and your school's data protection notice.
              <br><br>
              To protect data when using generative AI tools, you should:
              </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>seek advice from your data protection officer or IT lead</li>
                <li>check whether you are using an open or closed generative AI tool</li>
                <li>ensure there is no identifiable information included in what you put into open generative AI tools</li>
                <li>acknowledge or reference the use of generative AI in your work</li>
                <li>fact-check results to make sure the information is accurate</li>
              </ul>

              <!-- Example block -->
            <div class="example-block">
              <h3 class="govuk-heading-s">Example</h3>
              <p class="govuk-body">
                A school administrator wants to email a parent about their child's behaviour. They are unsure how to word the email. The administrator enters notes into an open generative AI tool and asks the tool to create the email for them.
                <br><br>
                The notes include the pupil's name, class and details of a behavioural incident. When the administrator submits the information, they release the pupil's personal data to the generative AI tool. The tool may incorporate this data in future responses, making it available to other people. The data will also be retained and visible to the organisation that owns the tool. The organisation that owns the tool may keep the data and be able to view it.
              </p>
            </div>

              <p class="govuk-body">
                If you choose to enter pupils' personal data into an AI tool, ensure to check with your data protection officer or IT lead that it is safe to do so. Observing <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/data-protection-principles/a-guide-to-the-data-protection-principles/" target="_blank">data protection principles</a> while handling personal data in AI tools will help your compliance with data protection legislation.
                <br><br>
                The ICO has information on what to do if you want to <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/childrens-information/children-and-the-uk-gdpr/what-if-we-want-to-profile-children-or-make-automated-decisions-about-them/" target="_blank">use generated AI to profile children or make automated decisions about them</a>.
                </p>
          </div>
        </div>


            <!-- Personal data collected by generative AI tools -->
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Personal data collected by generative AI tools
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content">
                <p class="govuk-body">
                  Some generative AI tools process and store more information than just the text you enter into them.
                  <br><br>
                  Generative AI tools may collect and store additional data such as:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>location</li>
                  <li>IP address</li>
                  <li>system information</li>
                  <li>browser information</li>
                </ul>
                <p class="govuk-body">
                  The data collected by these organisations can be viewed or sold to third parties. Schools must include how any data is collected, processed and stored by generative AI tools in the school's privacy notice.
                </p>
                  

              </div>
            </div>
      
        <!-- End Accordian -->
      </div> 
  </div>
</main>


<!-- Print button -->
<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
  <img src="/public/images/icon-print.png" style="width:16px;">
  <span style="margin: 0px 0px 0px 10px;">Print this page</span>
</button>






{% endblock %}
