{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/running-and-managing-a-school">Running and managing a school</a>
    </li>
  </ol>
</div>

<!-- Blue header with search -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main" style="background-color: #1d70b8;padding:30px 10px;">
    <div class="govuk-grid-row" style="margin: 0;">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color: #ffffff;padding-bottom: 18px;">{{ serviceName }}</h1>
        <p class="govuk-body" style="color: #ffffff;font-size: 1rem;line-height: 1.6;">
          From: <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">Department for Education</a>
          <br>Published 3 February 2023
          <br>Updated: {{lastUpdated}} - <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">See all updates</a>
        </p>
        <p class="govuk-body" style="color: #ffffff;">
        </p>

        <div class="govuk-form-group govuk-!-static-margin-top-8">
          <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text" placeholder="Search this manual" style="margin: 0;border: 0;position: relative;z-index: 1;">
          <button type="submit" class="govuk-button" data-module="govuk-button" style="background-color: #000000;margin: 0;margin-left: -5px;">
            <svg class="gem-c-search__icon" width="16" height="16" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </main>
</div>

<!-- Contents
<p class="govuk-body  govuk-!-static-margin-top-3  govuk-!-static-margin-bottom-3" style="font-size: 1rem;">Contents</p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-6 "> -->

<!-- Content -->
<h2 class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold" style="margin-top:20px">Summary</h2>
<p class="govuk-body-l" style="max-width: 30em;">The policies and processes schools and multi-academy trusts need to protect personal data and respond effectively to a personal data breach.</p>
<p class="govuk-body">This toolkit will help school staff, governors and trustees:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>understand how to comply with data protection law</li>
  <li>develop your data policies and processes</li>
  <li>know what staff and pupil data to keep</li>
  <li>follow good practices for preventing personal data breaches</li>
</ul>
<p class="govuk-body">This advice is intended for maintained schools and academies. Independent schools are welcome to use it where appropriate.</p>

<h2 class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold" style="margin-top:20px">Contents</h2>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="#">What data protection means for schools</a>
<p class="govuk-body govuk-!-static-margin-top-2">Data protection legislation, and who and what it’s intended to protect.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="#">Updates to the Data Protection and Digital Information Bill</a>
<p class="govuk-body govuk-!-static-margin-top-2">Changes to the bill and support available from the Department for Education (DfE).</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="#">Data processing a school is permitted to do</a>
<p class="govuk-body govuk-!-static-margin-top-2">The lawful grounds for accessing, collecting, storing and using personal, special category and criminal offence data.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="#">Responsibilities</a>
<p class="govuk-body govuk-!-static-margin-top-2">Who is responsible for making sure data is processed securely in a school.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="#">Role of data protection officers</a>
<p class="govuk-body govuk-!-static-margin-top-2">How data protection officers can help make sure schools are compliant with data protection laws.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="data-protection-policies-and-procedures">Data protection policies and procedures</a>
<p class="govuk-body govuk-!-static-margin-top-2">How to comply and document compliance with UK GDPR and the Data Protection Act 2018.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="#">Sharing personal data</a>
<p class="govuk-body govuk-!-static-margin-top-2">Who you can share personal data with and what consent you need to get – for example, when publishing exam results and taking photos in school.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="dealing-with-subject-access-requests-sars">Dealing with subject access requests (SARs)</a>
<p class="govuk-body govuk-!-static-margin-top-2">A subject access request (SAR) is a type of information rights request. A SAR lets people access a copy of the personal data a school holds about them or someone they have parental responsibility for.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="information-rights-requests-relating-to-personal-data">Handling other information rights requests</a>
<p class="govuk-body govuk-!-static-margin-top-2">How to manage other information rights requests, including changing, deleting or restricting the processing of personal information.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="record-keeping-and-management">Record keeping and management</a>
<p class="govuk-body govuk-!-static-margin-top-2">How to carry out an audit to check what personal data your school holds. You can use a data retention schedule to document how long you'll keep different types of data for.
</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="#">Managing breaches of data</a>
<p class="govuk-body govuk-!-static-margin-top-2">Good practice for preventing personal data breaches in your school. It explains how to recognise and respond effectively to a personal data breach.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-3 ">
<a class="govuk-link" style="font-weight: bold;font-size:1.2rem;" href="artificial-intelligence-ai-and-data-protection-in-schools">Data protection and generative artificial intelligence (AI) in education settings</a>
<p class="govuk-body govuk-!-static-margin-top-2">The benefits and potential data protection risks of using generative AI in educational settings.</p>

<!-- Print button -->
<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
  <img src="/public/images/icon-print.png" style="width:16px;">
  <span style="margin: 0px 0px 0px 10px;">Print this page</span>
</button>







{% endblock %}

