{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Handling other information rights requests
{% endblock %}

{% block content %}



<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/education/running-and-managing-a-school">Running and managing a school</a>
    </li>
  </ol>
</div>

<!-- Blue header with search -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main" style="background-color: #1d70b8;padding:30px 10px;">
    <div class="govuk-grid-row" style="margin: 0;">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color: #ffffff;padding-bottom: 18px;">{{ serviceName }}</h1>
        <p class="govuk-body" style="color: #ffffff;font-size: 1rem;line-height: 1.6;">
          From: <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">Department for Education</a>
          <br>Published 3 February 2023
          <br>Updated: {{lastUpdated}} - <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">See all updates</a>
        </p>
        <p class="govuk-body" style="color: #ffffff;">
        </p>

        <div class="govuk-form-group govuk-!-static-margin-top-8">
          <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text" placeholder="Search this manual" style="margin: 0;border: 0;position: relative;z-index: 1;">
          <button type="submit" class="govuk-button" data-module="govuk-button" style="background-color: #000000;margin: 0;margin-left: -5px;">
            <svg class="gem-c-search__icon" width="16" height="16" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </main>
</div>

<!-- Contents -->
<p class="govuk-body  govuk-!-static-margin-top-4  govuk-!-static-margin-bottom-4" style="font-size: 1rem;"><a href="../" class="govuk-back-link">Back to contents</a></p>

<!-- Content -->
<main class="govuk-main-wrapper govuk-!-static-padding-top-0 ">
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l" style="margin-left: 15px;">Handling other information rights requests</h1>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">How to manage other information rights requests, including changing, deleting or restricting the processing of personal information.</p>
      <p class="govuk-body">Information rights mean a person has the right to access or amend the personal data any organisation, such as a school, holds about them.
        <br><br>
        The most common type of information rights request is a subject access request (SAR). This is when someone requests to see the personal data an organisation holds about them. There is <a href="https://www.gov.uk/guidance/data-protection-in-schools/dealing-with-subject-access-requests-sars" target="_blank">more information on to how to handle a SAR in a school</a>.
        <br><br>
        Individuals, including children, have several information rights relating to personal data a school may hold about them.
        <br><br>
        Information rights request that someone might make include asking to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-rectification/" target="_blank">change inaccurate personal information</a> you hold about them</li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-erasure/" target="_blank">remove their personal information or record</a></li>
        <li><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-restrict-processing/" target="_blank">restrict the processing of their personal information</a></li>
        <li>stop processing their personal information (<a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-object/">right to object</a>)</li>
      </ul>
      <p class="govuk-body">
        You can receive an information rights request relating to personal data either verbally or in writing, including through social media.
        <br><br>
        Unless there's a valid reason, you must respond to any information rights request within one calendar month. If the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/right-of-access/what-should-we-consider-when-responding-to-a-request/#complex" target="_blank">case is complex</a> you can extend the response deadline by an extra 2 calendar months.
        <br><br>
        Information rights requests only apply to the personal data you hold when you get the request.
        <br><br>
        Individuals have the right to request changes or restrictions to personal information, but a school is not obliged to make changes to data in certain circumstances.
        <br><br>
        Your school should have procedures in place for responding to information rights requests. You should also make sure that all staff are trained to recognise different kinds of information rights request and know how to escalate a request if they receive one.
      </p>


    </div>
  </div>
</main>


<!-- Print button -->
<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
  <img src="/public/images/icon-print.png" style="width:16px;">
  <span style="margin: 0px 0px 0px 10px;">Print this page</span>
</button>






{% endblock %}
