{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Information rights requests relating to personal data
{% endblock %}

{% block content %}



<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs" style="margin-top: -28px;">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <!-- <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Passports, travel and living abroad</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Travel abroad</a>
    </li> -->
  </ol>
</div>

<!-- Blue header with search -->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main" style="background-color: #1d70b8;padding:30px 10px;">
    <div class="govuk-grid-row" style="margin: 0;">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color: #ffffff;padding-bottom: 18px;">{{ serviceName }}</h1>
        <p class="govuk-body" style="color: #ffffff;font-size: 1rem;line-height: 1.6;">
          From: <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">Department for Education</a>
          <br>Published 3 February 2023
          <br>Updated: 7 February 2024 - <a class="govuk-link" style="color: #ffffff;font-weight: bold;" href="#">See all updates</a>
        </p>
        <p class="govuk-body" style="color: #ffffff;">
        </p>

        <div class="govuk-form-group govuk-!-static-margin-top-8">
          <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text" placeholder="Search this manual" style="margin: 0;border: 0;position: relative;z-index: 1;">
          <button type="submit" class="govuk-button" data-module="govuk-button" style="background-color: #000000;margin: 0;margin-left: -5px;">
            <svg class="gem-c-search__icon" width="16" height="16" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </main>
</div>

<!-- Contents -->
<p class="govuk-body  govuk-!-static-margin-top-3  govuk-!-static-margin-bottom-3" style="font-size: 1rem;"><a href="../" style="color: black;">Contents</a></p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible  govuk-!-static-margin-top-0 govuk-!-static-margin-bottom-6 ">

<!-- Content -->
<main class="govuk-main-wrapper govuk-!-static-padding-top-0 ">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Information rights requests relating to personal data</h1>
      <p class="govuk-body-l">How to recognise and handle information rights requests relating to personal data in your school, including subject access requests.</p>
      <p class="govuk-body">Individuals, including children, have several information rights relating to personal data you hold about them. This includes the right to request:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/right-of-access/what-is-the-right-of-access/">access to the personal data</a> you hold about them by raising a subject access request</li>
        <li>to <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-rectification/">change inaccurate personal information</a> you hold about them</li>
        <li>to <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-erasure/">remove their personal information or record</a></li>
        <li>that you <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-restrict-processing/">restrict the processing of their personal information</a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-restrict-processing/"></li>
        <li>that you stop processing their personal information (<a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/right-to-object/">right to object</a>)</li>
      </ul>
      <p class="govuk-body">You must consider a child's wellbeing before responding to a request about their personal information.</p>


      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Information rights relating to personal data
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">You can receive an information rights request relating to personal data either verbally or in writing, including through social media.
              <br><br>
              Unless there's a valid reason, you must respond to an information rights request within one calendar month. If the case is complex you can extend the response deadline by an extra 2 calendar months.
              <br><br>
              Information rights requests only apply to the personal data you hold when you get the request.
              <br><br>
              Your school should have procedures in place for responding to information rights requests. You should also make sure that all staff are trained to recognise different kinds of information rights request and know how to escalate a request if they receive one.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Subject access requests
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">You may get subject access requests from:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a parent or carer wishing to see what data you hold about themselves or their child</li>
              <li>a pupil wishing to see their educational record or a breakdown of their exam marks and the marker's comments</li>
              <li>staff</li>
              <li>former staff or pupils</li>
              <li>a solicitor on behalf of a pupil, parent or carer</li>
            </ul>
            <p class="govuk-body">Before responding to a subject access request raised by a parent or carer about a child, check if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the requester has parental responsibility for the child</li>
              <li>the child is aged 13 or older and has given their consent for a parent or carer to act on their behalf</li>
              <li>releasing the information to an absent parent or carer would cause the child distress or result in safeguarding concerns</li>
            </ul>

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                You must consider the impact releasing the data would have on the child and their wellbeing before you respond.
              </strong>
            </div>
            
            <p class="govuk-body">You should not provide a pupil's educational record to a parent or carer if there is a court order in place that limits the exercise of their parental responsibility.
              <br><br>
              Most of the personal data you hold about a pupil will form part of their educational record. For maintained schools, a request for an educational record is different from a subject access request.
              <br><br>
              The Information Commissioner's Office has more information about <a href="https://ico.org.uk/for-the-public/schools/pupils-info/">accessing pupils' information</a>. This includes guidance on making requests for viewing a child's educational record.
            </p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Timescales for responding to a subject access request
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content">
            <p class="govuk-body">You must respond to a subject access request within one calendar month.
              <br><br>
              Maintained schools must make sure that a parent or carer can access their <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/right-of-access/education-data/">child's educational record</a> within 15 school days of receiving their written request. If they've asked for a copy of the record, you can charge a fee, but this must not be more than it costs you to supply.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Handling a subject access request
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">If you receive a subject access request, follow these steps before you respond.</p>
            <ol class="govuk-body steps">
              <li>Log the request.</li>
              <li>Check if the request is from a parent or carer to see their child's educational record request. Maintained schools have a shorter timescale for responding to these.</li>
              <li>Check the identity of the requester and their right to request the data. If the parent or carer is making the request on behalf of a pupil aged 13 or over, check they have consent.</li>
              <li>Make sure it is clear from the request exactly what personal data the individual wants. Ask for clarification if you need to.</li>
              <li>Acknowledge you've received the subject access request as soon as possible. Tell them when you'll send the response.</li>
              <li>Consider if the <a href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/right-of-access/what-should-we-consider-when-responding-to-a-request/#complex">subject access request is complex</a>. If you need another 2 months to produce the information, make sure you've told the requester within one month of receiving the request. You must explain why you need the extra 2 months.</li>
              <li>Before you send over any data, check if any information in the files needs to be redacted – for example, if it refers to other pupils or parents.</li>
              <li>Send the final response and securely transfer the requested information to the individual.</li>
            </ol>
            
            <p class="govuk-body">Keep a record of any subject access requests, including:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the request itself</li>
              <li>the date you received it</li>
              <li>all correspondence relating to the request (you should not keep personal documents used to confirm identity)</li>
              <li>what you provided</li>
              <li>when you provided it</li>
              <li>confirmation that the requester received the data in question</li>
              <li>details of your decision-making rationale in case of challenges</li>
            </ul>
            <p class="govuk-body">The Information Commissioner's Office has a <a href="https://ico.org.uk/for-organisations/advice-for-small-organisations/how-to-deal-with-a-request-for-information-a-step-by-step-guide/">step-by-step guide to help you deal with a request for information</a>.</p>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>


<!-- Print button -->
<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
  <img src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png" style="width:16px;">
  <span style="margin: 0px 0px 0px 10px;">Print this page</span>
</button>






{% endblock %}
