{# 1 #} 
{% from 'node_modules/dfe-frontend-alpha/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 3 #}
{% block header %}
{{ header({
  "showNav": "false",
  "showSearch": "true",
  "showUserName": "false",
  "userName": "",
  "userNameURL": "",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "searchterm",
  "service": {
    "name": "Get help with data protection in schools"
  }
})
}}
  <!-- {{ header({
    "showNav": "false",
    "showSearch": "false",
    "showUserName": "false",
    "userName": "",
    "userNameURL": "",
    "selectedNav": pageNav,
    "logoPath": "public/images",
    "homeHref": "/",
    "service": {
      "name": "Get guidance on education data protection"
    },
    "primaryLinks": [
      {
        "url"  : "",
        "label" : ""
      }
    ]
  })
}} -->
<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
</div>
{% endblock %}

{# 4 #} 
{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.js"></script>
{% endblock %}

